
PerlRequire [% root_local %]/apache/sites/[% site %].pl

  <VirtualHost *:[% config.port %]>
    ServerName [% config.site.$site.servername %]
    [% expandServerAliases( config.site.$site.aliases ) %]

    PerlSetVar site [% site %]

    <Location />
       SetHandler perl-script
       PerlHandler CPAN::Testers::Server::Control::Basic->super
    </Location>

    <Location /report>
       SetHandler perl-script
       PerlHandler CPAN::Testers::Server::Control::Report->super
    </Location>

    <Location /api>
       SetHandler perl-script
       PerlHandler CPAN::Testers::Server::Control::API->super
    </Location>

    <Location /error/>
       SetHandler  perl-script
       PerlHandler Combust::Control::Error->super
    </Location>

  </VirtualHost>

